src/main/app/proyecto_parte2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
	<db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" database="stc" doc:name="MySQL Configuration"/>
	<http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="pedvalar.webs.upv.es" port="443" doc:name="HTTP Request Configuration"/>
	<flow name="put_traslados">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/traslados/{id}" allowedMethods="PUT" doc:name="HTTP"/>
		<choice doc:name="Choice">
			<when expression="#[message.inboundProperties['Content-Type'] == 'application/json']">
				<dw:transform-message doc:name="Transform Message" metadata:id="2011aeb1-0759-4c53-9106-cf32ffe0a3a8">
					<dw:input-payload mimeType="application/json"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	estado: payload.estado
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message" metadata:id="52867807-57a4-4d99-8c5a-95455c51c48a">
					<dw:input-payload mimeType="application/xml"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	estado: payload.traslado.estado
}]]></dw:set-payload>
				</dw:transform-message>
			</otherwise>
		</choice>
		<db:update config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[UPDATE traslado SET estado = #[payload.estado], ultima_ubicacion = NULL WHERE idt = #[message.inboundProperties.'http.uri.params'.id]]]></db:parameterized-query>
		</db:update>
		<set-payload value="#[&quot;OK&quot;]" doc:name="Set Payload"/>
	</flow>
	<flow name="put_asignado_solicitud_transporte">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/solicitud/{id}" allowedMethods="PUT" doc:name="HTTP"/>
		<choice doc:name="Choice">
			<when expression="#[message.inboundProperties['Content-Type'] == 'application/json']">
				<dw:transform-message doc:name="Transform Message" metadata:id="4461612b-ade6-4d89-b131-5595d3596b05">
					<dw:input-payload mimeType="application/json"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.aprobada]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message" metadata:id="7e6b784c-4a11-4d75-9283-af4277398af4">
					<dw:input-payload mimeType="application/xml"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.solicitud.aprobada]]></dw:set-payload>
				</dw:transform-message>
			</otherwise>
		</choice>
		<db:update config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[UPDATE solicitud_transporte SET aprobada = #[payload] WHERE id = #[message.inboundProperties.'http.uri.params'.id]]]></db:parameterized-query>
		</db:update>
		<set-payload value="#[&quot;OK&quot;]" doc:name="Set Payload"/>
	</flow>
	<flow name="post_solicitud_traslado">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/traslado/{id}/solicitudes" allowedMethods="POST" doc:name="HTTP"/>
		<choice doc:name="Choice">
			<when expression="#[message.inboundProperties['Content-Type'] == 'application/json']">
				<dw:transform-message doc:name="Transform Message" metadata:id="0ea184eb-5a02-4878-b83a-011330615a2d">
					<dw:input-payload mimeType="application/json"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	vehiculo: payload.vehiculo
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message" metadata:id="51824d51-4e31-4f75-9482-458670f77ec1">
					<dw:input-payload mimeType="application/xml"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	vehiculo: payload.solicitud.vehiculo
}]]></dw:set-payload>
				</dw:transform-message>
			</otherwise>
		</choice>
		<db:insert config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[INSERT INTO solicitud_transporte(traslado, vehiculo) VALUES(#[message.inboundProperties.'http.uri.params'.id], #[payload.vehiculo]);]]></db:parameterized-query>
		</db:insert>
		<set-payload value="#[&quot;OK&quot;]" doc:name="Set Payload"/>
	</flow>
	<flow name="post_ubicacion_traslado">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/traslado/{id}/localizacion" allowedMethods="POST" doc:name="HTTP"/>
		<choice doc:name="Choice">
			<when expression="#[message.inboundProperties['Content-Type'] == 'application/json']">
				<dw:transform-message doc:name="Transform Message" metadata:id="056f003c-1a78-4dd9-b4a8-6fefdc2920dd">
					<dw:input-payload mimeType="application/json"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	latitud: payload.latitud,
	longitud: payload.longitud
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message" metadata:id="441ad697-fee7-42fd-8db0-5a383dd30e36">
					<dw:input-payload mimeType="application/xml"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	latitud: payload.localizacion.latitud,
	longitud: payload.localizacion.longitud
}]]></dw:set-payload>
				</dw:transform-message>
			</otherwise>
		</choice>
		<db:insert config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[INSERT INTO locallizacion_gps(traslado, latitud, longitud) VALUES(#[message.inboundProperties.'http.uri.params'.id], #[payload.latitud], #[payload.longitud]);]]></db:parameterized-query>
		</db:insert>
		<set-payload value="#[&quot;OK&quot;]" doc:name="Set Payload"/>
	</flow>
	<flow name="get_solicitud_traslado">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/solicitud/{id}" allowedMethods="GET" doc:name="HTTP"/>
		<set-variable variableName="formato" value="#[message.inboundProperties['Accept']]" doc:name="Variable"/>
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[SELECT solicitud_transporte.id, solicitud_transporte.timestamp, solicitud_transporte.aprobada, solicitud_transporte.terminada, 
vehiculo.matricula, vehiculo.PMA, vehiculo.ETN,
transportista.nombre, transportista.licencia, transportista.externo, transportista.id as tid
FROM solicitud_transporte
JOIN vehiculo on solicitud_transporte.vehiculo = vehiculo.matricula
JOIN transportista on vehiculo.transportista = transportista.id
WHERE solicitud_transporte.id = #[message.inboundProperties.'http.uri.params'.id]]]></db:parameterized-query>
		</db:select>
		<set-payload value="#[payload[0]]" doc:name="Set Payload"/>
		<set-variable variableName="info" value="#[payload]" doc:name="Variable"/>
		<http:request config-ref="HTTP_Request_Configuration" path="/iap/rest/direccion/#[payload.tid]" method="GET" doc:name="HTTP">
			<http:request-builder>
				<http:header headerName="Accept" value="application/json"/>
			</http:request-builder>
		</http:request>
		<choice doc:name="Choice">
			<when expression="#[flowVars.formato == 'application/json']">
				<dw:transform-message doc:name="Transform Message" metadata:id="582df744-a603-487c-870e-79f9b7ca226c">
					<dw:input-payload mimeType="application/json"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	id: flowVars.info.id,
	timestamp: flowVars.info.timestamp as :string,
	aprobada: flowVars.info.aprobada,
	terminada: flowVars.info.terminada,
	matricula: flowVars.info.matricula,
	PMA: flowVars.info.PMA,
	ETN: flowVars.info.ETN,
	nombre: flowVars.info.nombre,
	licencia: flowVars.info.licencia,
	externo: flowVars.info.externo,
	codigo_postal: payload.codigoPostal,
	ciudad: payload.ciudad,
	direccion: payload.direccion
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message" metadata:id="4f944073-d458-43ef-86ee-0b0e8eb3d2d0">
					<dw:input-payload mimeType="application/json"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	solicitud: {
		id: flowVars.info.id,
		timestamp: flowVars.info.timestamp as :string,
		aprobada: flowVars.info.aprobada as :string,
		terminada: flowVars.info.terminada as :string,
		matricula: flowVars.info.matricula,
		PMA: flowVars.info.PMA,
		ETN: flowVars.info.ETN,
		nombre: flowVars.info.nombre,
		licencia: flowVars.info.licencia,
		externo: flowVars.info.externo as :string,
		codigo_postal: payload.codigoPostal,
		ciudad: payload.ciudad,
		direccion: payload.direccion
	}
}]]></dw:set-payload>
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
</mule>
